<div class="recipe" *ngFor="let recipe of recipeList" >
  <mat-card>
    <mat-card-title>{{recipe.name}} </mat-card-title>
    <mat-card-content>{{recipe.ingredient}} </mat-card-content>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="onDelete(recipe.id)"
    ><a>Удалить</a></button>

    <button
      type="submit"
      class="btn btn-primary"
      (click)="change(recipe);lgModal.show()"
    >
      <a>Изменить</a>
    </button>



  </mat-card>
  <div bsModal #lgModal="bs-modal" [config]="{backdrop: 'static'}"

       class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true"
  >
    <div class="modal-dialog modal-lg"  >
      <div class="modal-content">

        <div class="modal-header" >
          <h4 class="modal-title pull-left">Редактировать рецепт</h4>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <mat-form-field class="example-full-width">
            <div>
              <input
                type="text"
                matInput
                id="name"
                [(ngModel)]="currentRec.name"
                placeholder="Введите название рецепта"
              >
            </div>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <div
            >
              <input
                type="text"
                id="ingredient"
                matInput
                [(ngModel)]="currentRec.ingredient"
                placeholder="Введите ингридиенты"
              >
            </div>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-primary btn-lg"
          (click)="onChanges(recipe);lgModal.hide()"
          >
            Изменить
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
