<!--<button
  type="button"
  class="waves-effect waves-light btn"
  (click)="openModal(template)"
>
  Редактировать рецепт
  </button>

<ng-template #template>

  &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;MODAL-HEADER-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  <div class="modal-header">
    <h4 class="modal-title pull-left">Редактировать рецепт</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  &lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;MODAL-BODY&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  <div class="modal-body">
    <mat-form-field class="example-full-width">
      <div

      >
        <input
          type="text"
          matInput
          id="name"
          placeholder="Введите название рецепта"
        >
      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <div
      >
        <input
          type="text"
          id="ingredient"
          matInput
          placeholder="Введите ингридиенты"
        >
      </div>
    </mat-form-field>
  </div>

  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;MODAL-FOOTER-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary btn-lg"
    >
      Изменить
    </button>
  </div>
</ng-template>-->
<!--<div *ngFor="let recipe of recipeList">-->

<!--<button
  class="btn btn-primary"
  (click)="lgModal.show()"
  (click)="onUpdate()"
>Изменить</button>



<div bsModal #lgModal="bs-modal"
     class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title pull-left">Редактировать рецепт</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <mat-form-field class="example-full-width">
          <div

          >
            <input
              type="text"
              matInput
              id="name"

              placeholder="Введите название рецепта"
            >
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <div
          >
            <input
              type="text"
              id="ingredient"
              matInput

              placeholder="Введите ингридиенты"
            >
          </div>
        </mat-form-field>
      </div>

      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary btn-lg"

        >
          Изменить
        </button>
      </div>

    </div>
  </div>
</div>-->

<!--</div>-->
<!--
<h2>
  Измените рецепт
</h2>

<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()" >

  <mat-form-field class="example-full-width">
    <div
      class="form-group"
      [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"
    >
      <input
        type="text"
        [(ngModel)] = "recipe.name"
        matInput
        id="name"
        placeholder="Введите название рецепта"
        formControlName="name"

      >
      <span
        class="form-help-text"
        *ngIf="form.get('name').invalid && form.get('name').touched"
      >
      Название рецепта не может быть пустым.
    </span>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <div
      class="form-group"
      [ngClass]="{'has-error': form.get('ingredient').invalid && form.get('ingredient').touched}"
    >
      <input
        type="text"
        id="ingredient"
        [(ngModel)] = "recipe.ingredient"
        matInput
        placeholder="Введите ингридиенты"
        formControlName="ingredient"
      >
      <span
        class="form-help-text"
        *ngIf="form.get('ingredient').invalid && form.get('ingredient').touched"
      >
          Поле ингредиент не может быть пустым.
        </span>
    </div>
  </mat-form-field>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary btn-lg"
      [disabled]="form.invalid"
    >
      Изменить
    </button>
  </div>
</form>
-->
